*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 170px;
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    position: relative;
}
header > img{
    width: 13%;
    position: absolute;
    bottom: 0;
    left: 10%;
    margin-bottom: 10px;

}

main, footer{
    width: 80%;
    margin: auto;
    height: 500px;
}

.timpics1{
    height: 543px;
    width: 825px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/tim-1.jpg);
}

.timpics2{
    height: 543px;
    width: 825px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/tim-2.jpg);
}

.author{
font-size: 20px;
}

.title{
    font-size: 470%;

}

.greytext{
    color: gray;
}

.photosource{
    font-size: 15px;
}

#booleaners{
    color: #20A9E5;
}