*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 170px;
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    position: relative;
}
header > img{
    width: 13%;
    position: absolute;
    bottom: 0;
    left: 10%;
    margin-bottom: 10px;

}

main, footer{
    width: 80%;
    margin: auto;
    height: 500px;
}

table{
    text-align: left;
    border-spacing: 0;
}

th{
    background-color: #20A9E5;
    color: white;
}


.rowcolor{
    background-color: #B1E5F2;
}

.column{
    width: 25%;
}


.timpics1{
    margin-top: 20px;
    height: 625px;
    width: 950px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/tim-1.jpg);
}

.timpics2{
    margin-top: 20px;
    height: 625px;
    width: 950px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/tim-2.jpg);
}

.secondsection{
    font-size: 30px;
}

.secondsection > *{
    margin: 40px 0;
}

.author{
font-size: 30px;
}

.title{
    font-size: 470%;

}

.greytext{
    color: gray;
}

.photosource{
    font-size: 20px;
}

#booleaners{
    color: #20A9E5;
}